@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#root {
  background: #fafafa;
  width: 100vw;
  height: 100vh;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container > .auth-form {
  width: 400px;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.auth-container > .auth-form > .header {
  padding: 0.75rem 0rem;
  font-weight: bold;
}

.auth-container > .auth-form > .header > span {
  font-size: 18px;
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex: 10;
}

.dashboard-container > .contact-list {
  flex: 2;
}
.dashboard-container > .conversation-window {
  flex: 6;
}
.dashboard-container > .profile-window {
  flex: 2;
}
